In [2]:
import pandas as pd
import numpy as np

In [17]:
data = {'國家': ['dcba', 'cba', 'ba', 'a '],
        '入口': np.random.randint(10000, 50000, 4)}
df = pd.DataFrame(data)

In [18]:
df

     國家     入口
0  dcba  32643
1   cba  43308
2    ba  36229
3    a   15672